{
   "arrowParens": "avoid", 
   "bracketspacing": true,
   "htmlwhitespacesensitivity": "css",
   "insertPragma": false,
   "jsxBracketsameLine": false,
   "jsxsingleQuote": false,
   "printwidth": 100,
   "proselrap": "preserve",
   "quoteProps": "as-needed",
   "requirePragma": false,
   "semi": true,
   "singleQuote": false,
   "tabwidth": 4,
   "trailingcomma": "noпe",
   "useTabs": false,
   "vueIndentscriptAndstyle": false

}